<%= render 'shared/title', page_title: "Messages" %>
<%= render 'demo/flashes' %>

<main class="group content">

  <%= render 'shared/errors' %>
  <%= render 'shared/flashes' %>

  <h1>Your inbox</h1>

  <% if @messages.empty? %>
    No messages to display
  <% else %>
    <%= render @messages %>
    <%= paginate @messages %>
  <% end %>

  <% if @friends[0] %>
    <%= render 'new_message', friends: @friends %>
  <% end %>
</main>