<style>
.message {
  background-color: #ddd;
  border: 1px solid #bbb;
	margin: 10px 0px;
	padding: 5px;
  display: block;
}

.message:hover {
  background-color: #eee;
}

.sender-info {
  float: left;
  width: 200px;
}

.message-info {
  float: right;
  width: 420px;
}

.user-pic {
  float: left;
  width: 50px;
  height: 50px;
  padding: 5px;
  border: 2px solid black;
}

.user-link {
  float: right;
  width: 130px;
  padding: 22px 0px;
}

.subject-line {
  padding: 22px 22px 22px 5px;
  float: left;
  width: 270px;
}

.delete-button {
  width: 120px;
  float: right;
  padding: 22px 0px;
}

.button_to {
	padding: 0px;
	margin: 0px;
}

#new-message {
  border: 1px solid black;
  background-color: #ddd;
  padding: 10px auto;
}

#new-message input {
  width: 550px;
  padding: 5px 10px;
}

#message-body > input {
  height: 100px;
  vertical-align: baseline;
}

</style>

<main class="group content">
  <%= render 'shared/flashes' %>
  <h1>Your inbox</h1>
  <% if @messages.empty? %>
    No messages to display
  <% else %>
    <% @messages.each do |message| %>
    <section class="group message">
      <div class="group sender-info">
        <div class="user-pic">
          User picture
        </div>

        <div class="user-link">
          <%= link_to "#{message.sender.username}", user_url(message.sender) %>
        </div>
      </div>

      <div class="message-info">
        <div class="subject-line">
          <%= link_to "#{message.subject}", message_url(message) %>
        </div>

        <div class="delete-button">
          <%= button_to "Delete", message_url(message), method: :delete %>
        </div>
      </div>
    </section>
    <% end %>
  <% end %>

<style>
#new-message > div {
  padding: 10px 0px;
}

#new-message label {
  padding: 5px 0px;
}

</style>

  <h1>Send a message</h1>
  <form id="new-message" class="group" action="<%= messages_url %>" method="post">
    <%= form_auth %>
    <div id="friend-dropdown">
      <% if @friends[0] %>
      <label for="friend">Select a friend</label>
        <select name="message[recipient_id]" id="friend">
          <% @friends.each do |friend| %>
            <option value="<%= friend.id %>"><%= friend.username %></option>
          <% end %>
        </select>
      <% end %>
    </div>

    <div id="subject-line">
      <label for="subject">Subject</label>
      <input type="text" id="subject" name=message[subject]>
    </div>

    <div id="message-body">
      <label for="message">Message</label>
      <input type="textarea" id="message" name="message[body]">
    </div>

    <div>
      <input type="submit"
        class="button"
        value="Send">
    </div>

  </form>
</main>