<main class="group content">
  <style>
  form .sign-in-pic {
    position: absolute;
    left: 290px;
    top: 75px;
  }

  </style>

<form class="group" id="login" action="<%= session_url %>" method="post">
  <%= render 'shared/errors' %>

  <h1>Welcome! Please sign in</h1>

  <%= form_auth %>

  <div class="sign-in-pic">
    <%= image_tag("fajita.png", size: "300x161") %>
  </div>

  <div>
  <label for="userinfo">Username or E-mail Address</label>
    <input id="userinfo"
      type="text"
      name="user[identifier]">
  </div>

  <div>
  <label for="password">Password</label>
    <input id="password"
      type="password"
      name="user[password]">
  </div>

  <div>
    <input class="button" type="submit" value="Sign In!">
  </div>
</form>

<div id="homepage-demo">
	<a href="<%= demo_new_user_url %>">
		<%= render 'demo/flashes' %>
	</a>
</div>

<main class="group content">