<%= render 'shared/title', page_title: "Diary" %>
<%= render 'demo/flashes' %>

<main class="group content" id="food-diary">
  <%= render 'shared/errors' %>
  <%= render 'shared/flashes' %>

  <h1>Today's food diary</h1>

  <%= render 'shared/diary_entry', date: Date.today %>

  <%= render 'diary/diary_totals', user: @user, entry: @entry, date: Date.today %>

<% unless current_user.is_demo %>
  <section id="archive">
    <h1>Find an archived entry</h1>
    <%= render 'diary/archived_entry_form' %>
  </section>
<% end %>
</main>