<style>

#diary-entry {
  border: 1px solid black;
  display:block;
}

.meal {
  background-color: #ccc;
}

#food-entry > div.floatLeft {
  width: 300px;
}

#food-entry > div.floatRight {
  width: 320px;
}

#food-entry > .floatLeft > li {
  display: inline;
  margin: 5px auto;
}

#food-entry > .floatRight > li {
  display: inline;
  margin: 25px;
}

#food-entry {
  display: block;
  padding-top: 2px;
}

</style>

<main class="group content">
  <h1>Your food diary</h1>

  <section id="diary-entry" class="group">
    <% (0..5).each do |num| %>
      <% if @diary.try("meal#{num}".to_sym) %>
        <h2><%= @diary.send("meal#{num}".to_sym) %></h2>
        <ul class="group meal">
          <% @meal_entries.each do |entry| %>
          <section id="food-entry" class="group">
            <% if entry.meal_id == num %>
              <% nutrients = calculate_by_quantity(entry.food, entry.quantity) %>
              <div class="group floatLeft">
                <li><%= entry.food.name.capitalize %></li>
              </div>

              <div class="group floatRight">
                <li><%= nutrients["calories"].round %></li>
                <li><%= nutrients["fat"].round %></li>
                <li><%= nutrients["carbohydrates"].round %></li>
                <li><%= nutrients["protein"].round %></li>
              </div>
            </section>
            <% end %>
          <% end %>
        </ul>

        <li><%= link_to "Add food", daily_entry_foods_url(@entry, { meal_num: num }) %></li>
    </ul>
    </div>
      <% else %>
        <% break %>
      <% end %>
    <% end %>
  </section>

<style>
#totals {
  border: 1px solid black;
  display: block;
}

.table-headers > div.floatLeft {
  width: 300px;
}

.table-headers > div.floatRight {
  width: 320px;
}

.col-name > ul > li{
  display: inline;
  margin: 12px;
}

</style>

  <section id="totals" class="group">
    <div class="group table-headers">
      <div class="group floatLeft">
      </div>

      <div class="group floatRight col-name">
        <ul>
          <li>Calories</li>
          <li>Fat</li>
          <li>Carbs</li>
          <li>Protein</li>
        </ul>

        <ul>
          <li><%= @entry.calories_consumed %></li>
          <li><%= @entry.fat_intake %></li>
          <li><%= @entry.carbohydrate_intake %></li>
          <li><%= @entry.protein_intake %></li>
        </ul>

        <ul>
          <li><%= @user.goal.calorie_goal %></li>
          <li><%= %></li>
          <li><%= %></li>
          <li><%= %></li>
        </ul>

        <ul>
          <li><%= @user.goal.calorie_goal - @entry.calories_consumed %></li>
          <li><%= %></li>
          <li><%= %></li>
          <li><%= %></li>
        </ul>
      </div>

    </div>
  </section>

</main>