<main class="group content" id="food-diary">
  <% if flash[:errors] %>
    <%= render 'shared/errors' %>
  <% elsif flash[:notices] %>
    <%= render 'shared/flashes' %>
  <% end %>

  <header class="group">
      <h1>Today's food diary</h1>
  </header>

  <section id="diary-entry" class="group">
    <% (0..5).each do |num| %>
      <% if @diary.try("meal#{num}".to_sym) %>
        <h2><%= @diary.send("meal#{num}".to_sym) %></h2>

        <%= render 'diary/single_meal', meal_entries: @meal_entries, num: num %>

        <% if @user == current_user %>
          <li><%= link_to "Add food", daily_entry_foods_url(@entry, { meal_num: num }) %></li>
        <% end %>

      <% else %>
        <% break %>
      <% end %>
    <% end %>

  <section class="group totals">
    <%= render 'diary/diary_totals', user: @user, entry: @entry %>
  </section>

  <section>
    Find an archived entry
    <%= render 'diary/archived_entry_form' %>
  </section>

  <% if @user == current_user %>
    <section>
      <%= button_to "Complete this entry", complete_daily_entry_url(@entry) %>
    </section>
  <% end %>

</main>