<main class="group content" id="food-diary">
  <%= render 'shared/errors' %>
  <%= render 'shared/flashes' %>

  <header>
      <h1>Today's food diary</h1>
  </header>

  <section id="diary-entry" class="group">
    <% (0..5).each do |num| %>
      <% if @diary.try("meal#{num}".to_sym) %>

      <div class="one-meal">
        <h2><%= @diary.send("meal#{num}".to_sym) %></h2>

        <%= render 'diary/single_meal', meal_entries: @meal_entries, num: num %>

        <% if @user == current_user %>
        <section class="add-food">
          <div class="link-button">
            <%= link_to "Add food", daily_entry_foods_url(@entry, { meal_num: num }) %>
          </div>
        </section>
        <% end %>
      </div>

      <% else %>
        <% break %>
      <% end %>
    <% end %>
  </section>

  <section class="group totals">
    <%= render 'diary/diary_totals', user: @user, entry: @entry %>
  </section>

  <section id="archive">
    <h1>Find an archived entry</h1>
    <%= render 'diary/archived_entry_form' %>
  </section>

</main>