<style>

#diary-entry {
  border: 1px solid black;
  display:block;
}

.meal {
  background-color: #ccc;
}

#food-entry > div.float-left {
  width: 300px;
}

#food-entry > div.float-right {
  width: 320px;
}

#food-entry > .float-left > li {
  display: inline;
  margin: 5px auto;
}

#food-entry > .float-right > li {
  display: inline;
  margin: 25px;
}

#food-entry {
  display: block;
  padding-top: 2px;
}

#food-diary table {
  display: block;
  text-align: center;
  background-color: #ccc;
}

#food-diary th {
  width: 75px;
  color: #fff;
  background-color: navy;
}

.food-name {
  float: left;
  width: 349px;
  font-size: 14px;
}

.nutrient-table {
  float: right;
  width: 299px;
}

.nutrient-table tbody {
  background-color: #ccc;
}

.nutrient-table td {
  width: 75px;
}

</style>

<main class="group content" id="food-diary">
  <h1>Your food diary</h1>

  <section id="diary-entry" class="group">
    <% (0..5).each do |num| %>
      <% if @diary.try("meal#{num}".to_sym) %>
        <h2><%= @diary.send("meal#{num}".to_sym) %></h2>

        <% @meal_entries.each do |entry| %>
          <% if entry.meal_id == num %>
            <% nutrients = calculate_by_quantity(entry.food, entry.quantity) %>

        <div class="group meal">
          <section class="food-name">
            <%= entry.food.name.capitalize %>
          </section>

          <section class="nutrient-table">
            <table>
              <tbody>
                <tr>
                  <td><%= nutrients["calories"].round %></td>
                  <td><%= nutrients["fat"].round %></td>
                  <td><%= nutrients["carbohydrates"].round %></td>
                  <td><%= nutrients["protein"].round %></td>
                </tr>
              </tbody>
            </table>
          </section>
        </div>
          <% end %>
        <% end %>

        <% if @user == current_user %>
          <li><%= link_to "Add food", daily_entry_foods_url(@entry, { meal_num: num }) %></li>
        <% end %>
    </ul>
    </div>
      <% else %>
        <% break %>
      <% end %>
    <% end %>
  </section>

<style>

.totals {
  border: 1px solid black;
  display: block;
}

#diary-totals {
  float: right;
  width: 300px;
}

</style>

  <section class="group totals">
    <div class="group" id="diary-totals">
      <table>
        <tfoot>
          <th>Calories</th>
          <th>Fat</th>
          <th>Carbs</th>
          <th>Protein</th>
        </tfoot>

        <tr>
          <td><%= @entry.calories_consumed.round %></td>
          <td><%= @entry.fat_intake.round %></td>
          <td><%= @entry.carbohydrate_intake.round %></td>
          <td><%= @entry.protein_intake.round %></td>
        </tr>

        <% if @user.goal %>
        <tr>
          <td><%= @user.goal.calorie_goal %></td>
          <td><%= %></td>
          <td><%= %></td>
          <td><%= %></td>
        </tr>

        <tr>
          <td><%= @user.goal.calorie_goal - @entry.calories_consumed %></td>
          <td><%= %></td>
          <td><%= %></td>
          <td><%= %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </section>

  <section>
    <% body = "completed a food journal for #{@entry.entry_date}" %>
    <%= button_to "Publish this entry!", daily_entry_feed_items_url(@entry.id, owner_type: "DailyEntry", body: body) %>
  </section>

</main>