<main class="group content" id="food-diary">
  <header class="group">
      Today's food diary
  </header>

  <section id="diary-entry" class="group">
    <% (0..5).each do |num| %>
      <% if @diary.try("meal#{num}".to_sym) %>
        <h2><%= @diary.send("meal#{num}".to_sym) %></h2>

        <%= render 'diary/single_meal', meal_entries: @meal_entries %>

        <% if @user == current_user %>
          <li><%= link_to "Add food", daily_entry_foods_url(@entry, { meal_num: num }) %></li>
        <% end %>

      <% else %>
        <% break %>
      <% end %>
    <% end %>

  <section class="group totals">
    <%= render 'diary/diary_totals', user: @user, entry: @entry %>
  </section>

  <section>
    Find an archived entry
    <%= render 'diary/archived_entry_form' %>
  </section>

  <section>
    <% body = "completed a food journal for #{@entry.entry_date}" %>
  </section>

</main>