<article class="group full">
  <header>
    <h1>Daily Summary</h1>
  </header>

  <div id="user-info" class="group">
    <div id="user-picture">
      <%= image_tag current_user.profile_picture.url(:thumb) %>
    </div>

    <div id="pounds-lost">
      <% if current_user.current_wt < current_user.starting_wt %>
        <%= current_user.starting_wt - current_user.current_wt %> pounds lost!
      <% else %>
        0 pounds lost
      <% end %>
    </div>
  </div>

  <div id="food-info" class="group">
    <div id="calorie-box" class="group">
      <div id="calories">
        <%= @calories_remaining %>
      </div>

      <div id="calorie-caption">
        calories remaining
      </div>

      <div id="calorie-breakdown" class="group">
        <%= @daily_entry ? @daily_entry.calories_consumed : 0 %>
        calories consumed
      </div>
    </div>

    <div id="buttons" class="group">
      <form action="<%= diary_user_url(current_user) %>">
        <%= form_auth %>
        <input type="submit" class="button" value="Add food">
      </form>
      <%= render 'shared/goal_button' %>
    </div>
  </div>

</article>
