<main class="group content">

  <form action="<%= user_url(current_user) %>" method="post" enctype="multipart/form-data">
    <h1>Update your profile</h1>

    <%= form_auth %>

    <input type="hidden" name="_method" value="PUT">

    <%= render 'shared/errors' %>
    <%= render 'shared/flashes' %>

    <%= render 'shared/basic_info' %>

    <%= render 'shared/wt_ht_activity' %>

    <%= render 'shared/upload_picture' %>

    <input class="button" type="submit" value="Continue &rarr;">
  </form>

</main>