<main class="group content">

  <%= render 'shared/errors' %>
  <%= render 'shared/flashes' %>

  <% if @user == current_user && !@user.pending_friends.empty? %>
  <div id="pending-requests">
    <h1>Pending requests</h1>

    <% @user.pending_friends.each do |friend| %>

      <section class="group user-index">
        <%= render 'shared/friend_info', friend: friend %>

        <%= render 'friends/approve_or_deny', friend: friend %>
  	  </section>

    <% end %>
  </div>

  <% end %>

  <% if @friends.empty? %>
    <div id="no-friends">
      No friends to display!
    </div>
  <% else %>
    <div id="friends">
      <h1>Friends</h1>
      <%= render @friends %>
    </div>
  <% end %>

  <div class="link-button">
    <%= link_to "Find friends", users_url %>
  </div>
</main>