<style>
.user-index {
	display:block;
	width:650px;
	border: 1px solid #bbb;
	background-color: #ddd;
	margin: 10px 0px;
	padding: 5px;
}

.user-index:hover {
	background-color: #eee;
}

.user-info {
	float: left;
	width: 499px;
}

.friend-buttons {
	float: right;
	width: 148px;
}

.user-info > .float-left {
	float: left;
	width: 120px;
}

.user-info > .float-right {
	float: right;
	width: 375px;
}

.button_to {
	padding: 0px;
	margin: 0px;
}
</style>

<main class="group content">

<%= render 'shared/flashes'%>

  <% if @user == current_user && !@user.pending_friends.empty? %>
  <h1>Pending requests</h1>

  	<% @user.pending_friends.each do |friend| %>

      <section class="group user-index">
        <%= render 'shared/friend_info', friend: friend %>

	      <div class="group friend-buttons">
	  	    <% req_id = current_user.friend_requests.where("friend_id = ?", friend.id).first%>
	  	    <%= button_to "Approve request", friendships_url(friend: friend)%>
	  	    <%= button_to "Deny request", friend_request_url(req_id), method: :delete %>
	      </div>
  	  </section>

    <% end %>

  <% end %>

  <% if @friends.empty? %>
  No friends to display!

  <% else %>
  <h1>Friends</h1>
  	<% @friends.each do |friend| %>
  	  <section class="group user-index">

        <%= render 'shared/friend_info', friend: friend %>

        <div class="group friend-buttons">
			    <% friendship = current_user.friendships.where("friend_id = ?", friend.id).first %>
			    <%= button_to "Remove friend", friendship_url(friendship.id, friend: friend.id), method: :delete %>
		    </div>

  	  </section>
  	<% end %>
  <% end %>

  <%= link_to "Find friends", users_url %>
</main>