<style>
.user-index {
	display:block;
	width:638px;
	border: 1px solid #bbb;
	background-color: #ddd;
	margin: 10px 0px;
	padding: 5px;
}

.user-index:hover {
	background-color: #eee;
}

.user-info {
	float: left;
	width: 450px;
}

.friend-buttons {
	float: right;
	width: 180px;
}

.user-info > .float-left {
	float: left;
	width: 80px;
}

.user-info > .float-right {
	float: right;
	width: 350px;
}

#no-friends {
  font-size: 24px;
  margin: 20px 0px;
}

#friends {
  margin: 50px 0px;
}

#pending-requests {
  margin: 50px 0px;
}

</style>

<main class="group content">

  <%= render 'shared/errors' %>
  <%= render 'shared/flashes' %>

  <% if @user == current_user && !@user.pending_friends.empty? %>
  <div id="pending-requests">
    <h1>Pending requests</h1>

    <% @user.pending_friends.each do |friend| %>

      <section class="group user-index">
        <%= render 'shared/friend_info', friend: friend %>

        <%= render 'friends/approve_or_deny', friend: friend %>
  	  </section>
    <% end %>
  </div>

  <% end %>

  <% if @friends.empty? %>
    <div id="no-friends">
      No friends to display!
    </div>
  <% else %>
    <div id="friends">
      <h1>Friends</h1>
    	<% @friends.each do |friend| %>
    	  <section class="group user-index">

          <%= render 'shared/friend_info', friend: friend %>

          <div class="group friend-buttons">
  			    <% friendship = current_user.friendships.where("friend_id = ?", friend.id).first %>
            <form action="<%= friendship_url(friendship.id, friend: friend.id) %>" method:"DELETE">
              <%= form_auth %>
              <input type="submit" value="Remove friend" class="button">
            </form>
  		    </div>

    	  </section>
  	  <% end %>
    </div>
  <% end %>

  <div class="link-button">
    <%= link_to "Find friends", users_url %>
  </div>
</main>