<%= render 'shared/title', page_title: "Friends" %>
<main class="group content">

  <%= render 'shared/errors' %>
  <%= render 'shared/flashes' %>

  <% if @user == current_user && !@pending_friends.empty? %>
    <%= render 'friends/pending', pending_friends: @pending_friends %>
  <% end %>

  <% if @friends.empty? %>
    <div id="no-friends">
      No friends to display!
    </div>
  <% else %>
    <div id="friends">
      <h1>Your Friends</h1>
      <%= render @friends %>
    </div>
  <% end %>

  <div class="link-button">
    <%= link_to "Find friends", users_url %>
  </div>
</main>