<style>
#user-info {
  float: left;
  width: 100px;
}

#user-picture {
  display: block;
  width: 75px;
  height: 75px;
  margin: 10px;
}

#pounds-lost {
  display: block;
  padding: 0px 3px;
  width: 75px;
  margin: 10px;
}

#food-info {
  float: right;
  width: 520px;
  margin: 10px 25px 0px 0px;
}

.full header {
  display: block;
  background-color: navy;
  color: white;
}

#calorie-box {
  float: left;
  width: 350px;
}

#buttons {
  float: right;
  padding-top: 50px;
  border: 1px solid black;
}

#calories {
  font-size: 24px;
  display: block;
}

#calorie-caption {
  display: block;
}

#calorie-breakdown {
  display: block;
  padding: 10px 0px;
}

#calorie-breakdown li {
  display: inline;
}

#user-daily-summary {
  padding-top: 20px;
}

#user-news-feed {
  padding-top: 10px;
}

</style>

<main class="group content">
  <% if flash[:errors] %>
    <%= render 'shared/errors' %>
  <% elsif flash[:notices] %>
    <%= render 'shared/flashes' %>
  <% end %>

  <% if current_user %>
    <header>
      <h1>Welcome back, <%= current_user.username %>!</h1>
    </header>

    <div id="user-daily-summary">
      <%= render 'daily_summary' %>
    </div>

    <div id="user-news-feed">
      <%= render 'news_feed', friends: @friends, feed_items: @feed_items %>
    </div>

  <% else %>

  <style>

  #home-text {
    float: right;
    width: 400px;
    padding: 10px;
    margin-top: 40px;
  }

  .home-image {
    position: absolute;
    left: -40px;
  }

  #not-signed-in {
    position: relative;
  }

  #home-text h1 {
    margin-bottom: 10px;
  }

  #home-text li {
    padding: 5px 15px;
  }

  #sign-in-sign-up {
    display: block;
    width: 350px;
  }

  #sign-in-sign-up .link {
    float: left;
    margin: auto;
    padding: 10px;
    width: 140px;
    color: black;
    text-align: center;
  }

  #sign-in-sign-up .set-dimensions {
    width: 160px;
    height: 40px;
  }

  </style>
  <div id="not-signed-in" class="group">
    <div class="home-image">
      <%= image_tag("applecinnamon.png", size: "300x300") %>
    </div>

    <div id="home-text">
      <h1>Welcome to the Apple Cinnamon Fitness App!</h1>

      <ul>
        <li>Keep a food diary</li>
        <li>Track your progress</li>
        <li>Share with friends</li>
      </ul>

      <div id="sign-in-sign-up" class="group">
        <div class="button floatLeft set-dimensions group">
          <%= link_to "Sign in", new_session_url, class: "link" %>
        </div>

        <div class="button floatRight set-dimensions">
          <%= link_to "Create an account", new_user_url, class: "link" %>
        </div>
      </div>
    </div>
  </div>

  <% end %>

</main>