<style>
#user-info {
  float: left;
  width: 100px;
}

#user-picture {
  display: block;
  border: 1px solid black;
  width: 75px;
  height: 75px;
  margin: 10px;
}

#pounds-lost {
  display: block;
  border: 1px solid black;
  width: 75px;
  margin: 10px;
}

#food-info {
  float: right;
  width: 525px;
  border: 1px solid black;
  margin: 10px 20px 10px 0px;
}

.full header {
  display: block;
  background-color: navy;
  color: white;
}

#calorie-box {
  float: left;
  width: 375px;
}

#buttons {
  float: right;
}

#calories {
  font-size: 24px;
  display: block;
}

#calorie-caption {
  display: block;
}

#calorie-breakdown {
  display: block;
  padding: 10px 0px;
}

#calorie-breakdown li {
  display: inline;
}

</style>

<main class="group content">
<%= render 'shared/flashes' %>

<h2>Welcome back, <%= current_user.username %>!</h2>

<% if current_user %>
  <article class="group full">
    <header>
      <h1>Daily Summary</h1>
    </header>

    <div id="user-info" class="group">
      <div id="user-picture">
        User picture!
      </div>

      <div id="pounds-lost">
        Pounds lost!
      </div>
    </div>

    <div id="food-info" class="group">
      <div id="calorie-box" class="group">
        <div id="calories">
          <%= @calories_remaining %>
        </div>

        <div id="calorie-caption">
          calories remaining
        </div>

        <div id="calorie-breakdown" class="group">
          <ul>
            <li><%= @goal.calorie_goal %></li>
            <li> - </li>
            <li><%= @daily_entry ? @daily_entry.calories_consumed : 0 %></li>
            <li> + </li>
            <li><%= @daily_entry ? @daily_entry.calories_burned : 0 %></li>
            <li> = </li>
            <li><%= @calories_remaining %></li>
          </ul>
        </div>
      </div>

      <div id="buttons">
        <%= button_to "Add Food", diary_user_url(current_user), method: :get %>
      </div>
    </div>

  </article>

  <article class="group full">
    <header>
      <h1>News Feed</h1>
    </header>
  </article>

  <%= render 'shared/goal_button' %>

<% end %>
</main>