<style>
#user-info {
  float: left;
  width: 100px;
}

#user-picture {
  display: block;
  border: 3px solid black;
  width: 75px;
  height: 75px;
  margin: 10px;
}

#pounds-lost {
  display: block;
  padding: 0px 3px;
  width: 75px;
  margin: 10px;
}

#food-info {
  float: right;
  width: 510px;
  margin: 13px 25px 0px 0px;
}

.full header {
  display: block;
  background-color: navy;
  color: white;
}

#calorie-box {
  float: left;
  width: 375px;
}

#buttons {
  float: right;
}

#calories {
  font-size: 24px;
  display: block;
}

#calorie-caption {
  display: block;
}

#calorie-breakdown {
  display: block;
  padding: 10px 0px;
}

#calorie-breakdown li {
  display: inline;
}

#user-daily-summary {
  padding-top: 20px;
}

#user-news-feed {
  padding-top: 10px;
}

</style>

<main class="group content">
  <% if current_user %>
    <header>
      <h1>Welcome back, <%= current_user.username %>!</h1>
    </header>
  <% end %>

  <% if flash[:errors] %>
    <%= render 'shared/errors' %>
  <% elsif flash[:notices] %>
    <%= render 'shared/flashes' %>
  <% end %>

<% if current_user %>

  <div id="user-daily-summary">
    <%= render 'daily_summary' %>
  </div>

  <div id="user-news-feed">
    <%= render 'news_feed', friends: @friends, feed_items: @feed_items %>
  </div>

<% else %>
  Sign in or create a new account!
<% end %>

</main>