<%= render 'shared/title', page_title: "Members" %>
<%= render 'demo/flashes' %>

<main class="group content">

  <%= render 'shared/errors' %>
  <%= render 'shared/flashes' %>

  <h1>Find Friends!</h1>

  <%= render @users %>
  <%= paginate @users %>

</main>