<h2>Create your free account!</h2>
<form id="newUser" action="<%= users_url %>" method="post">
  <%= form_auth %>

  <p>
  <label>Username:
    <input type="text"
      name="user[username]"
      value="<%= @user.username %>">
  </label>
  </p>

  <p>
  <label>Email:
    <input type="text"
      name="user[email]"
      value="<%= @user.email %>">
  </label>
  </p>

  <p>
  <label>Password:
    <input type="password"
      name="user[password]">
  </label>
  </p>

  <p>
    <label>Birthday
      <input type="date" name="user[birthday]">
    </label>
  </p>

  <p>
    <label>City
      <input type="text" name="user[city]">
    </label>
  </p>

  <p>
    <label>State
      <input type="text" name="user[state]">
    </label>
  </p>

  <p>
    <label>Zip Code
      <input type="text" name="user[zipcode]">
    </label>
  </p>


  <h2>Tell us about yourself</h2>
  We can build a custom plan for you!

  <%= render 'shared/user_goal_attr' %>

  <p>Gender
    <input type="radio" name="user[gender]" value="M" id="male">
    <label for="male">Male</label>
    <input type="radio" name="user[gender]" value="F" id="female">
    <label for="female">Female</label>
  </p>

  <p><input type="submit" value="Continue &rarr;"></p>
</form>