<%= render 'shared/title', page_title: @tracked_attr.capitalize %>

<main class="group content">
  <%= render 'shared/flashes' %>
  <%= render 'shared/errors' %>

  <h1>Your Reports</h1>
  <% if @report.report_items.empty? %>
    No data to report!
  <% else %>
    <ul>
      <%= render @report.report_items %>
    </ul>
  <% end %>

  <form action="<%= new_user_report_url(current_user) %>">
    <%= form_auth %>
    <input type="submit" class="button" value="Generate a new report">
  </form>

</main>