<div>
<label for="username">Username</label>
  <input type="text"
    name="user[username]"
    value="<%= @user.username %>"
    id="username">
</div>

<div>
<label for="email">Email</label>
  <input type="text"
    name="user[email]"
    value="<%= @user.email %>"
    id="email">
</div>

<% unless current_user %>
<div>
<label for="password">Password</label>
  <input type="password"
    name="user[password]"
    id="password">
</div>
<% end %>

<div>
  <label for="birthday">Birthday</label>
    <input type="date"
      name="user[birthday]"
      id="birthday"
      value="<%= @user.birthday %>">
</div>

<div>
  <label for="city">City</label>
    <input type="text"
      name="user[city]"
      id="city"
      value="<%= @user.city %>">
</div>

<div>
  <label for="state">State</label>
    <input type="text"
      name="user[state]"
      id="state"
      value="<%= @user.state %>">
</div>

<div>
  <label for="zipcode">Zip Code</label>
    <input type="text"
      name="user[zipcode]"
      id="zipcode"
      value="<%= @user.zipcode %>">
</div>