<div class="group friend-buttons">
  <% if user.friends.include?(current_user) %>

    <div class="remove-friend">

      <% friendship = current_user.friendships.where("friend_id = ?", user.id).first %>
      <form action="<%= friendship_url(friendship.id, friend: user.id) %>" method="POST">
        <%= form_auth %>
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Remove friend" class="button">
      </form>

    </div>

  <% else %>

    <% if user.pending_friends.include?(current_user) %>

      <div class="requested-friend">
        <% request = user.friend_requests.where("friend_id = ?", current_user.id).first %>

        <form action="<%= friend_request_url(request) %>" method="POST">
          <%= form_auth %>
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Cancel request" class="button">
        </form>
      </div>

    <% elsif current_user.pending_friends.include?(user) %>

      <div class="pending-friend">

        <form action="<%= friends_user_url(current_user) %>" method="GET">
      <%= form_auth %>
      <input type="submit" value="Respond to request" class="button">
    </form>

      </div>

    <% else %>

      <div class="add-friend">

        <form action="<%= friend_requests_url(friend_id: user.id) %>" method="POST">
          <%= form_auth %>
          <input type="submit" value="Add friend" class="button">
        </form>

      </div>

    <% end%>

  <% end %>
</div>