<% goal_link = current_user.goal && current_user.goal.persisted? ? goal_url(current_user.goal) : new_user_goal_url(current_user) %>

<nav class="group" id="mainNav">
  <section class="group" id="navContent">
    <ul class="group">
      <li>My Home
        <div class="group subContent">
          <ul>
            <%= link_to "<li>Home</li>".html_safe, root_url %>
            <%= link_to "<li>Goals</li>".html_safe, goal_link %>
            <%= link_to "<li>Check-in</li>".html_safe, root_url %>
            <%= link_to "<li>Profile</li>".html_safe, user_url(current_user) %>
            <%= link_to "<li>Friends</li>".html_safe, root_url %>
            <%= link_to "<li>Settings</li>".html_safe, root_url %>
          </ul>
        </div>
      </li>

      <li>Food
        <!-- <div class="group subContent">
          <ul>
            <li>Food Diary</li>
            <li>Database</li>
            <li>My Foods</li>
            <li>My Meals</li>
            <li>Recipes</li>
            <li>Settings</li>
          </ul>
        </div> -->
      </li>

      <li>Exercise
        <!-- <div class="group subContent">
          <ul>
            <li>Exercise Diary</li>
            <li>Database</li>
            <li>My Exercises</li>
            <li>Settings</li>
          </ul>
        </div> -->
      </li>

      <li>Reports
      </li>
    </ul>
  </section>
</nav>