<header>
  <div id="top-strip" class="group">

    <div id="top-strip-content" class="group">
      <div id="logo">
      <%= link_to image_tag("logo.png", size: "128x75"), root_url %>
      </div>

      <section id="user-links" class="group">
        <ul>
        <% if current_user %>
          <li><%= link_to "Hi, #{current_user.username}!", user_url(current_user) %></li>
          <li>
            <% num = "#{current_user.received_messages.count}" %>
            <%= link_to "Messages <div id='message-num'>#{num}</div>".html_safe, messages_url %>
            <%=  %>
          </li>
          <li><%= link_to "Help", "#" %></li>
          <li><%= link_to "Sign Out", session_url, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_session_url %></li>
          <li><%= link_to "Sign Up", new_user_url %></li>
        <% end %>
      </ul>
      </section>
    </div>

  </div>

  <div id="middle-strip" class="group">

  <nav id="middle-strip-content" class="group">
    <section id="main-nav" class="group">
      <ul>
        <% goal_link = current_goal ? goal_url(current_goal) : new_goal_url %>
        <div class="group"><li><%= link_to "Home", root_url %></li></div>
        <% food_link = current_user ? diary_user_url(current_user) : foods_url %>
        <div class="group"><li><%= link_to "Food", food_link %></li></div>
        <% report_link = current_user ? new_user_report_url(current_user) : reports_url %>
        <div class="group"><li><%= link_to "Reports", report_link %></li></div>
        <div class="group"><li><%= link_to "Goals", goal_link %></li></div>
      </ul>
    </section>
  </nav>

</div>

<div id="bottom-strip" class="group">

  <nav class="group bottom-strip-content">
    <ul class="group sub-nav">
      <div><li><%= link_to "Check-in", current_user ? new_user_weigh_in_url(current_user) : weigh_ins_url %></li></div>
      <div><li><%= link_to "Profile", current_user ? user_url(current_user) : "#" %></li></div>
      <div><li><%= link_to "Friends", current_user ? friends_user_url(current_user) : "#" %></li></div>
    </ul>
  </nav>

</div>

<!-- <ul>
  <li>Food Diary</li>
  <li>Database</li>
  <li>My Foods</li>
  <li>My Meals</li>
  <li>Recipes</li>
  <li>Settings</li>
</ul>

<ul>
  <li>Exercise Diary</li>
  <li>Database</li>
  <li>My Exercises</li>
  <li>Settings</li>
</ul> -->

</header>
