<main class="group content">
  <%= render 'shared/errors' %>

  <div id="search-top" class="group">
    <section class="search-input">
      <%= render 'shared/food_search' %>
    </section>

    <section class="right-search-display">
      <%= image_tag "veggiebasket.png", size: "300x227" %>
    </section>
  </div>

  <section class="search-match">
    <% if @foods %>
      <h1>Matching Foods</h1>

      <div class="food-matches">
        <ul>
        <% if @foods.empty? %>
          <li>No matches found!</li>
        <% else %>
          <%= render @foods %>
          <%= paginate @foods, window: 3 %>
        <% end %>
        </ul>
      </div>

    <% end %>
  </section>
</main>