<%= render 'shared/title', page_title: "Find Foods" %>

<% if current_user %>
	<%= render 'demo/flashes' %>
<% end %>

<main class="group content">
  <%= render 'shared/errors' %>

  <div id="search-top" class="group">
    <section class="search-input">
      <%= render 'shared/food_search' %>
    </section>

    <section class="right-search-display">
      <%= image_tag "veggiebasket.png", size: "300x227" %>
    </section>
  </div>

  <section class="search-match">
    <h1>Matching Foods</h1>
    <div>
      <ul id="food-matches"></ul>
    </div>

  </section>

</main>