<main class="group content">
  Nutrition Facts
  <form id="portion"
    action="<%= @entry ? daily_entry_meal_entries_url(@entry) : food_url(@food) %>"
    method="<%= @entry ? "post" : "get" %>"
    class="group">
    <input type="hidden" name="food[id]" value="<%= @food.id %>">

    <%= form_auth %>
    <label for="servings">Servings</label>
    <input id="servings" name="servings[number]" value="<%= num_servings %>">

    <select name="servings[size]">
      <option value="100" select>100 grams</option>
      <option value="1">1 gram</option>
      <option value="28.35">1 oz</option>
    </select>

    <label for="meal_num">Add to meal:</label>
    <select id="meal_num" name="meal[num]">
      <option value="0">Breakfast</option>
      <option value="1">Lunch</option>
      <option value="2">Dinner</option>
    </select>

    <input type="submit" class="button" value="<%= @entry ? "Add to diary" : "Change Serving" %>">
  </form>

    <h6><%= @food.name.capitalize %></h6>
    <ul>
      <li>Calories: <%= @nutrition_values["calories"].round %></li>
      <li>Fat: <%= @nutrition_values["fat"].round(1) %>g</li>
      <li>Carbohydrates: <%= @nutrition_values["carbohydrates"].round(1) %>g</li>
      <li>Protein: <%= @nutrition_values["protein"].round(1) %>g</li>
    </ul>

    <ul>
      <li>Vitamin A: <%= @nutrition_values["vitamin_a"].round %> IU</li>
      <li>Vitamin C: <%= @nutrition_values["vitamin_c"].round %>%</li>
      <li>Calcium: <%= @nutrition_values["calcium"].round %>mg</li>
      <li>Iron: <%= @nutrition_values["iron"].round %>mg</li>
    </ul>

    <%= params %>
    <%= @food %>
</main>