<main class="group content">
  <h2>Your Fitness Goals</h2>
  <% if @goal %>
  <article class="group">
    <section class="group half left">
      <ul class="group tblHead">
        <li class="floatLeft">Nutrition Goals</li>
        <li class="floatRight">Goals</li>
      </ul>

      <ul class="group">
        <li class="floatLeft">Net calories per day</li>
        <li class="floatRight"><%= @goal.calorie_goal %></li>
      </ul>

      <ul class="group">
        <li class="floatLeft">Carbohydrates</li>
        <li class="floatRight"><%= @carbs %> g</li>
      </ul>

      <ul class="group">
        <li class="floatLeft">Protein</li>
        <li class="floatRight"><%= @protein %> g</li>
      </ul>

      <ul class="group">
        <li class="floatLeft">Fat</li>
        <li class="floatRight"><%= @fat %> g</li>
      </ul>
    </section>

    <section class="group half right">
      <ul class="group tblHead">
        <li class="floatLeft">Your Diet Profile</li>
        <li class="floatRight">Target</li>
      </ul>

      <ul class="group">
        <li class="floatLeft">Calories Burned</li>
        <li class="floatRight"></li>
      </ul>

      <ul class="group">
        <li class="floatLeft">Net Calories Consumed</li>
        <li class="floatRight"></li>
      </ul>

      <ul class="group">
        <li class="floatLeft">Calorie Deficit</li>
        <li class="floatRight"></li>
      </ul>
    </section>

    <section class="group half left">
      <ul class="group tblHead">
        <li class="floatLeft">Fitness Goals</li>
        <li class="floatRight">Goals</li>
      </ul>

      <ul class="group">
        <li class="floatLeft">Calories burned per week</li>
        <li class="floatRight"></li>
      </ul>

      <ul class="group">
        <li class="floatLeft">Workouts per week</li>
        <li class="floatRight"</li>
      </ul>

      <ul class="group">
        <li class="floatLeft">Minutes per workout</li>
        <li class="floatRight"></li>
      </ul>
    </section>
  </article>

  <!-- <% @goal.attributes.each do |attr| %>
    <li><%= attr[0].gsub("_", " ").capitalize %>: <%= attr[1]%></li>
  <% end %> -->

  <p>Your last update was on <%= @updated %></p>

  <%= link_to "<button class='button'>Update your goals!</button>".html_safe,
    edit_goal_url(current_user.goal) %>
  <% else %>
    This user does not have any goals yet!
  <% end %>
</main>