<%= render 'demo/flashes' %>

<main class="group content">

  <h1>Your Fitness Goals</h1>

  <% if @goal %>

  <div class="group full-width">
    <div class="group half-left">
      <section>
        <%= render 'fitness_goals', goal: @goal, carbs: @carbs, protein: @protein, fat: @fat %>
      </section>
    </div>
  </div>

    <% if current_user.goal == @goal %>
    <form action="<%= edit_goal_url(current_user.goal) %>">
      <%= form_auth %>

      <div>
        <input type="submit" class="button" value="Update your goals!">
      </div>

      Last updated on <%= @updated %>
    <% end %>

  <% else %>
    This user does not have any goals yet!
  <% end %>
</main>