<main class="group content">

  <header>
    <h1>Your Fitness Goals</h1>
  </header>

  <style>
  .half-left {
    float: left;
    width: 315px;
  }

  .half-left > section {
    margin: 10px 0px;
  }

  .half-right {
    float: right;
    width: 315px;
  }

  .half-right > section {
    margin: 10px 0px;
    border: 1px solid black;
  }

  .full-width {
    display: block;
  }

  .fitness-goals {
    width: 315px;
    margin-bottom: 20px;
    border: 1px solid black;
  }

  .fitness-goals thead {
    text-align: left;
    background-color: navy;
    color: white;
  }

  .fitness-goals th {
    padding: 5px;
  }

  .fitness-goals td {
    padding: 5px;
  }

  .fitness-goals .first {
    float: left;
  }

  .fitness-goals .second {
    float: right;
  }

  </style>

  <% if @goal %>

  <div class="group full-width">
    <div class="group half-left">
      <section>
        <%= render 'fitness_goals', goal: @goal, carbs: @carbs, protein: @protein, fat: @fat %>
      </section>
    </div>
  </div>
  <!-- <% @goal.attributes.each do |attr| %>
    <li><%= attr[0].gsub("_", " ").capitalize %>: <%= attr[1]%></li>
  <% end %> -->
  Last updated on <%= @updated %>
    <% if current_user.goal == @goal %>
      <%= link_to "<button class='button'>Update your goals!</button>".html_safe,
        edit_goal_url(current_user.goal) %>
    <% end %>

  <% else %>
    This user does not have any goals yet!
  <% end %>
</main>